
*{
    padding: 0%;
    margin: 0%;
    /* transition: all 0.5s ease; */
}

.nav{
    background-color: #00004c;
    display: flex;
    align-items: center;
}
.title{
    margin-left: 20px;
    font-size: 4rem;
    padding: 2px;
    color: whitesmoke;
}

.icon{
    margin-left: 20px;
    padding: 2px;
    width: 80px;
}
.icon_div{
    text-align: center;
    align-items: center;
    justify-content: center;
}

.list{
    color: white;
    margin-left: auto;
    margin-right: 20px;
    padding: 2px;
}
.list_nav{
    display: flex;
    
}
li{
    padding: 10px;
}
ul{
    list-style: none;
}

body{
    background-color: white;
}

.container{
    background-color: whitesmoke;
    max-width: 85%;
    margin: auto;
    height: 80vh;
    overflow-y: auto;
}
.message{
    font-size: 20px;
    background-color: rgb(175, 175, 175);
    width: 20%;
    margin: 5px 10px;
    padding: 2px;
    border:2px solid black;
    border-radius: 5px;
}

.left{
    float: left;
    clear: both;
}
.right{
    float: right;
    clear: both;
}

.send{
    display: block;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #00004c;
    max-width: 90%;
    margin: auto;
}

/* this makes the input and the send button allign vertically */
.inputform{
    display: flex;
    justify-content: center;
    align-items: center;
}



#messageInp{
    margin: 2px 5px;
    width: 80%;
    height: 34px;
    padding: 2px 10px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 20px;
}

.button{
    height: 35px;
    align-items: center;
    font-size: 15px;
    padding:2px 10px;
    border-radius: 20px;
}

.material-symbols-outlined{
    max-width: 30px;
}
